/* duolingo */

.section {
   display: flex;
   align-items: center
}

.duolingo-widget p {
   margin: .2rem 0;
   display: flex;
}

.duoBox {
   flex: 1;
}

.duoBox a {
   font-weight: bold;
}

.profile-picture {
   display: none;
}

.profile-picture img {
   width: 15vw;
   border-radius: 50%
}

.flag {
   margin: 0 0.1rem
}



/* news */

.flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.flex-item {
   box-sizing: border-box;
   text-align: justify;
   margin-bottom: 1rem;
}

.flex-item img {
   max-width: 100%;
}

.flex-item h4 a {
   color: #333;
}

.flex-item h4 a:hover {
   color: #555;
}

.flex-item p.date {
   font-size: 11px;
   margin-bottom: 0;
}

.flex-item p.date.right-text {
   text-align: right;
}

@media (min-width: 481px) {
   .duoBox {
      margin-left: 1rem
   }

   .profile-picture {
      display: inline;
   }
}

@media (min-width: 576px) {
   .flex-item {
      width: 32%;
      margin-bottom: 0;
   }
}