/* duolingo */

.duo-container {
   display: flex;
}

.section {
   display: flex;
   flex-direction: column;
}

.duolingo-widget {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1em;
}

.duolingo-widget p {
   margin: .2rem 0;
}

.duoBox {
   flex: 1;
}

.duoBox h3 {
   text-transform: uppercase;
   margin: 0 0 0.5rem;
   letter-spacing: .1rem;
}

.duolingo-widget .flag {
   vertical-align: middle;
}

.duoBox .flag {
   margin: 0 0.1rem;
}

.duoBox a {
   font-weight: bold;
}

.profile-picture {
   display: none;
}

.profile-picture img {
   width: 10vw;
   border-radius: 50%;
}

.duolingo-widget li .flag {
   margin-right: 0.2rem;
}



/* news */

.flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.flex-item {
   box-sizing: border-box;
   text-align: justify;
   margin-bottom: 1rem;
}

.flex-item img {
   max-width: 100%;
}

.flex-item h4 a {
   color: var(--heading);
}

.flex-item h4 a:hover {
   color: var(--heading-hover);
}

.flex-item p.date {
   font-size: 11px;
   margin-bottom: 0;
}

.flex-item p.date.right-text {
   text-align: right;
}

@media (min-width: 481px) {
   .duoBox {
      margin-left: 1rem
   }
}

@media (min-width: 576px) {
   .duolingo-widget {
      flex-direction: row;
   }

   .profile-picture {
      display: inline;
   }

   .flex-item {
      width: 32%;
      margin-bottom: 0;
   }
}

@media (min-width: 768px) {
   .duolingo-widget {
      flex-direction: column;
      margin-top: 1em;
   }

   .profile-picture img {
      width: 7vw;
   }
}