.tiles-container {
   display: grid;
   grid-template-columns: 50% 50%;
}

.tile {
   cursor: pointer;
   color: #000;
   height: 25vh;
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.tile:not(.tile-empty) {
   transition: font-size .5s;
}

.tile-empty {
   cursor: default;
}

.tile:not(.tile-empty):hover {
   font-size: 1.5rem;
}

.tile1 {
   background-color: var(--rainbow-one);
}

.tile2 {
   background-color: var(--rainbow-two);
}

.tile3 {
   background-color: var(--rainbow-three);
}

.tile4 {
   background-color: var(--rainbow-four);
}

.tile5 {
   background-color: var(--rainbow-five);
}

.tile6 {
   background-color: var(--rainbow-six);
}

.tile7 {
   background-color: var(--rainbow-seven);
}

.tile8 {
   background-color: var(--rainbow-eight);
}

.tile-empty {
   color: var(--primary)
}

/* Tablets and small screens */
@media (min-width: 481px) {
   .tiles-container {
      grid-template-columns: 33.3% 33.3% 33.3%;
   }

   .tile {
      height: 33.3vh;
   }

   .tile-empty {
      grid-column: 2 / span 2;
   }
}

/* Desktops and large screens */
@media (min-width: 1025px) {
   .tiles-container {
      grid-template-columns: 25% 25% 25% 25%;
   }

   .tile {
      height: 50vh;
   }

   .tile-empty {
      grid-column: auto;
   }
}