.container {
   grid-template-columns: 25% 25% 25% 25%;
   display: grid;
   max-width: 440px;
   margin: 0 auto;
}

.card-container {
   width: 100%;
   height: 100%;
   perspective: 1000px;
   aspect-ratio: 1;
   display: flex;
}

.card {
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   position: relative;
   user-select: none;
   cursor: pointer;
   margin: 0.2rem;
}

.card p {
   text-align: center;
}

.card img {
   max-width: 50%;
   height: auto;
}

.card-front,
.card-back {
   width: 100%;
   height: 100%;
   padding: 0.5rem;
   border-radius: 6px;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card-front {
   background-color: var(--disabled);
}

.card-back {
   background-color: var(--rainbow-four);
   transform: rotateY(180deg);
}



/* 

Card Flip Transitions (Olli React Flip Card tutorial: https://www.youtube.com/watch?v=9uwZkqoFAfg)

Enter Transition 
isFlipped = false -> true 
front -> back 

Exit Transition 
isFlipped = true -> false 
back -> front 

*/

/* class that becomes active right before the start of the transition, all the styles to initialise our transition */
.flipped-enter {
   transform: rotateY(0deg);
}

/* active during the transition, all the styles our card should animate to */
.flipped-enter-active {
   transform: rotateY(180deg);
   transition: transform 300ms;
}

/* when the transition is over, a class to persist the styles we have transitioned to */
.flipped-enter-done {
   transform: rotateY(180deg);
}

/* how our card should look like when we switch from back to front. At the beginning the back side of the card is visible and then, during the transition, it's rotated to the front again */
.flipped-exit {
   transform: rotateY(180deg);
}

/* now we want to display the front again */
.flipped-exit-active {
   transform: rotateY(0deg);
   transition: transform 300ms;
}

/* keeps the `exit-active` style after the transition is finished */
.flipped-exit-done {
   transform: rotateY(0deg);
}