.container {
   grid-template-columns: 25% 25% 25% 25%;
   display: grid;
   max-width: 440px;
   margin: 0 auto;
}

.card-container {
   perspective: 1000px;
   aspect-ratio: 1;
   display: flex;
   margin: 0.2rem;
}

.card {
   width: 100%;
   height: 100%;
   position: relative;
   user-select: none;
   cursor: pointer;
}

.card.disabled {
   cursor: default;
}

.card p {
   text-align: center;
}

.card img {
   max-width: 50%;
   height: auto;
}

.card-front,
.card-back {
   width: 100%;
   height: 100%;
   padding: 0.5rem;
   border-radius: 6px;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card .card-back {
   background-color: var(--rainbow-four);
   transform: rotateY(90deg);
   transition: all ease-in 0.3s;
   position: absolute;
}

.flipped .card-back {
   transform: rotateY(0deg);
   transition-delay: 0.3s;
}

.card .card-front {
   background-color: var(--disabled);
   transition: all ease-in 0.3s;
   transition-delay: 0.3s;
}

.flipped .card-front {
   transform: rotateY(90deg);
   transition-delay: 0s;
}

.wrong .card-back {
   background-color: var(--rainbow-one);
}

.correct .card-back {
   background-color: var(--rainbow-five);
}