.button {
   cursor: pointer;
   padding: 0.7em;
   margin: 0 auto;
   color: var(--button);
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
   border: 2px solid var(--button);
   border-radius: 10px;
}

.button a:hover {
   text-decoration: none;
}

.button:hover {
   color: var(--accent);
   border-color: var(--accent);

}

.navigation {
   font-size: .8rem;
   font-style: italic;
   text-align: right;
   margin: 1rem;
}

.home:hover, .back:hover {
   text-decoration: underline;
   cursor: pointer;
}



/* modal */

.backdrop {
   position: fixed;
   background-color: rgba(0, 0, 0, 0.7);
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal {
   background-color: white;
   max-width: 90%;
   min-height: 30%;
   padding: 3em;
   border-radius: var(--radius);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.modal button {
   align-self: flex-end;
   padding: 0 .3em;
   cursor: pointer;
}


/* Tablets and small screens */
@media (min-width: 481px) {
   .modal {
      width: 50%;
      height: 50%;
   }
}