.container {
   padding: 1rem;
}

.button {
   cursor: pointer;
   width: 100px;
   height: 40px;
   line-height: 40px;
   margin: 0 auto;
   color: var(--button);
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
   border: 2px solid var(--button);
   border-radius: 10px;
}

.button a:hover {
   text-decoration: none;
}

.button:hover {
   color: var(--accent);
   border-color: var(--accent);

}

.navigation {
   font-size: .8rem;
   font-style: italic;
   text-align: right;
   margin-bottom: 1rem;
}

.home:hover, .back:hover {
   text-decoration: underline;
   cursor: pointer;
}