.container {
   display: flex;
   flex-direction: column;
}

.colors-container,
.words-container {
   display: flex;
}

.colors-container {
   justify-content: center;
}

.words-container {
   flex-wrap: wrap;
}

.color,
.word {
   padding: 4px 6px;
   margin: 4px;
   border-radius: var(--radius);
   cursor: pointer;
}

.color {
   font-size: .8rem;
   padding: 8px 10px;
   border-radius: 10px;
}

.word {
   background-color: var(--background);
}

.opacity {opacity: .5}