.container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.word {
   margin: 4px;
}

.input {
   width: 100px;
   padding: 4px;
   border: 0;
   border-radius: var(--radius);
   background-color: var(--disabled);
   font-size: 1em;
}