/* word order */

.words-container {
   height: 86px;
   display: flex;
   flex-wrap: wrap;
   /* justify-content: space-around; */
   margin-bottom: 1rem;
   align-items: flex-start;
}

.chosen-words-container {
   min-height: 80px;
   background-color: var(--rainbow-five);
   border-radius: 6px;
   padding: 0.5rem;
   margin-bottom: 1rem;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

.word-box {
   background-color: #f4f4f4;
   color: #777777;
   padding: 5px 20px;
   border-radius: 6px;
   border: 2px solid#e6e6e6;
   cursor: pointer;
   margin: 4px;
}

.chosen-word-box {
   background-color: #79d786;
   color: #ffffff;
   padding: 5px 20px;
   border-radius: 6px;
   border: 2px solid#ffffff;
   cursor: pointer;
   margin: 4px;
}

/* word search */

.grid {
   margin: 1rem;
}

.row {
   display: flex;
   align-items: center;
}

.column {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   aspect-ratio: 1;
   border: 1px solid #f3f3f3;
   cursor: pointer;
}

.selected {
   color: #fff;
   border-color: #fff;
   background-color: var(--accent);
}