.container {
   height: 86px;
   display: flex;
   flex-wrap: wrap;
   /* justify-content: space-around; */
   margin-bottom: 1rem;
   align-items: flex-start;
}

.chosen-container {
   min-height: 80px;
   border: 2px solid var(--disabled);
   border-radius: var(--radius);
   padding: 0.5rem;
   margin-bottom: 1rem;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

.word {
   background-color: #f8f8f8;
   color: #777777;
   padding: 5px 20px;
   border-radius: var(--radius);
   border: 2px solid#e6e6e6;
   cursor: pointer;
   margin: 4px;
}

.chosen {
   background-color: #adadad;
   color: #ffffff;
   padding: 5px 20px;
   border-radius: var(--radius);
   border: 2px solid#ffffff;
   cursor: pointer;
   margin: 4px;
}

.correct {
   background-color: #79d786;
}

.container-correct {
   border-color: var(--rainbow-five);
}