/* word search */

.grid {
   grid-template-columns: repeat(13, 1fr);
   display: grid;
   width: 100%;
   max-width: 500px;
   gap: 2px;
}

.cell {
   display: flex;
   justify-content: center;
   align-items: center;
   aspect-ratio: 1;
   border: 1px solid #f3f3f3;
   cursor: pointer;
   border-radius: 5px;
}

.cell:hover {
  background-color: #f3f3f3;
}

.hovered {
   color: #fff;
   border-color: #fff;
   background-color: #adadad;
}

.selected {
   color: #fff;
   border-color: #fff;
   background-color: #adadad;
}

.correct {
   color: #fff;
   background-color: #79d786;
}

@media (min-width: 481px) {
   .cell {
      font-size: .8em;
   }
}

@media (min-width: 1025px) {
   .cell {
      font-size: 1em;
   }
}