/* word search */

.grid {
   margin: 1rem;
}

.row {
   display: flex;
   align-items: center;
}

.column {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   aspect-ratio: 1;
   border: 1px solid #f3f3f3;
   cursor: pointer;
}

.selected {
   color: #fff;
   border-color: #fff;
   background-color: #adadad;
}

.correct {
   color: #fff;
   background-color: #79d786;
}