.main {
   margin: 1rem
}

.section {
   display: flex;
   align-items: center
}

.main p {
   margin: .2rem 0;
   display: flex;
}

.duoBox {
   flex: 1;
   margin-left: 1rem
}

.duoBox a {
   font-weight: bold;
}

.profile-picture { 
   width: 20vw;
   border-radius: 50% 
}

.flag {
   margin: 0 0.1rem
}