.main {
   margin: 1rem
}

.main p {
   margin: .2rem 0;
   display: flex;
}

@media (min-width: 577px) {
   .main {
      margin: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}