.tiles-container {
   display: grid;
   grid-template-columns: 50% 50%;
}

.tile {
   height: 25vh;
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.tile-one {
   background-color: var(--rainbow-one);
}

.tile-two {
   background-color: var(--rainbow-two);
}

.tile-three {
   background-color: var(--rainbow-three);
}

.tile-four {
   background-color: var(--rainbow-four);
}

.tile-five {
   background-color: var(--rainbow-five);
}

.tile-six {
   background-color: var(--rainbow-six);
}

.tile-seven {
   background-color: var(--rainbow-seven);
}

.tile-eight {
   background-color: white;
}

/* Tablets and small screens */
@media (min-width: 481px) and (max-width: 1024px) {
   .tiles-container {
      grid-template-columns: 33.3% 33.3% 33.3%;
   }

   .tile {
      height: 33.3vh;
   }
}

/* Desktops and large screens */
@media (min-width: 1025px) {
   .tiles-container {
      grid-template-columns: 25% 25% 25% 25%;
   }

   .tile {
      height: 50vh;
   }
}